@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';

/*
 * Bootstrap overrides.
 */
@body-bg: #f0f3f4;
@text-color: #58666f;
@font-family-base: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@link-color: #363f34;
@link-hover-color: #141718;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 220px;
  -webkit-font-smoothing: antialiased;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #3b3f51;
}

footer a {
  color: #fff;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

footer .thumb-md {
  border: 1px solid rgba(255,255,255,.15);
  transition: border .1s linear;

  &:hover {
    border-color: rgba(255,255,255,.3);
  }
}

.thumb-md {
  display: inline-block;
  width: 64px;
}